.popup-content{
    position: absolute;
    z-index: 999;
    pointer-events: auto;
    top: 100px !important;
    left: 300px !important; 
}


@media only screen and (max-width: 480px){
    .btn{
        font-size: 0.3rem;
    }
    .popup-content{
        position: absolute;
        z-index: 999;
        pointer-events: auto;
        top: 10px !important;
        left: 110px !important; 
    }
}
